<!DOCTYPE html>
<html lang="es" ng-app="wor">
  <head>
    <base href="<%="#{request.protocol}#{request.host_with_port}"%>">
    <%=stylesheet_link_tag    "wor/admin/admin", :media => "all"%>
    <%=javascript_include_tag "wor/admin/admin"%>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">


  <script>
  tinymce.init({
    selector: '.tinymce_textarea'
  });
  </script>

    <%=csrf_meta_tags%>

    <script type="text/javascript">
      var urlBase = "<%="#{request.protocol}#{request.host_with_port}"%>";
    </script>
  </head>

  <body data-host="http://<%=request.host_with_port%>">
    <div id="loading" style="display:none; position:fixed; top:15px; left: 0px; right: 0px; height:30px; z-index:9999;">
      <div style="margin:auto; background: #fff198; color:#222; padding:3px; border-radius: 5px; width: 100px; text-align:center;">loading...</div>
    </div>

    <div style="display:none; position:fixed; top:15px; left: 0px; right: 0px; height:30px; z-index:9999;">
      <div style="margin:auto; background: #007E00; color:#fff; padding:3px; border-radius: 5px; width: 100px; text-align:center;"></div>
    </div>

    <div class="navbar navbar-fixed-top navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <api-messages></api-messages>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/backend" target="_self">
            <div class="brand"><img src="/images/mini_logo_white.png">Admin Wor (<%=Wor.site_name%>)</div>
            <div class="sub-brand"><%="#{request.protocol}#{request.host_with_port}"%></div>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <%=render partial: '/wor/admin/header_menu'%>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar sidebar-search">
        <%=render partial: '/wor/admin/sidebar'%>
      </div>

      <div class="main">
        <%=yield%>
      </div>
    </div>
  </body>
</html>